<app-hr-associate-top-banner></app-hr-associate-top-banner>
<div>
  <p></p>
</div>
<div class="demo-button-container">
  <div>
    <button mat-raised-button color="red" (click)="onCreateCandidate()" class="demo-button" style="border: solid;background-color:white;">
      Create Candidate
    </button>
  </div>
  <div >
    <form [formGroup]="formControlSearch" (keyup)=" getCandidateListBySearch()"  >
      <mat-form-field   class="searchbar" >
        <mat-label>{{"Search for a candidate by nale or firstname"|translate}}</mat-label>
        <input matInput formControlName="search" >
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

</div>

<div id="list-candidates">
  <mat-table [dataSource]="listPerson" class="mat-elevation-z8" style="border:solid">
    <ng-container matColumnDef="personID">
      <mat-header-cell *matHeaderCellDef>Identifiant Utilisateur </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person?.personID}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Firstname">
      <mat-header-cell *matHeaderCellDef>Firstname</mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person?.firstName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person?.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person?.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="candidateToEdit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let person">
        <button mat-raised-button color="accent" (click)="editCandidate(person?.personID)">Edit</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="candidateTest">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let person">
        <button mat-raised-button color="primary" (click)="assignTestToCandidate(person?.personID)">Tests</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="candidateToDelete">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let person">
        <button mat-raised-button class="buttonRefuse" (click)="deleteCandidate(person.personID); getCandidateList()"
          style="border-color:black;border:solid;"> <span class="material-icons">delete_forever</span></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>