
.demo-button{
  margin-left: 0%;

 }



a:hover{
  cursor: pointer;
}

#list-candidates{

  width: 95%;
}

.demo-button-container{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-left: -30%;
}

.searchbar{

  width: 200%;
}

.mat-mdc-table {

  max-height: 500px;
  overflow: auto;
  margin-left: 2%;
}

.mat-column-name {
  height: auto;
}

.col2 {
  display: flex;

}

