
.demo-button{
  margin-left: 0%;
 }


a:hover{
  cursor: pointer;
}

#list-candidates{
  width: 80%;
  margin-left: 5%;
  margin: 0 auto;
  padding: auto;
  display: flex;
}

.demo-button-container{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-left: -20%;

}

.searchbar{

  width: 200%;
}

.mat-mdc-table {

  max-height: 500px;
  overflow: hidden;
  margin-left: 1%;

}


.mat-column-email{

  flex: 0 0 27%;
}
.mat-column-name{

  flex: 0 0 25%;
}
.mat-column-Firstname{

  flex: 0 0 25%;
}

.col2 {
  display: flex;

}

.mat-column-candidateToDelete{
  flex: 7% 2% 7%;
}
.mat-column-candidateTest{
  flex: 7% 7% 7%;
}
.mat-column-candidateToEdit{
  flex: 7% 7% 7%;
}

.mat-elevation-z8{

  width: 50%;
}

.mat-row{
  width: 60%;
}
