
a:hover{
  cursor: pointer;
}

#list-candidates{
  width: 100%;
  margin-left: 5%;
  margin: 0 auto;
  padding: auto;
  display: flex;
}

.demo-button-container{
  display: flex;

  align-items: baseline;
  justify-content: space-around

}

.searchbar{
  width: 200%;
}

.mat-mdc-table {
  max-height: 500px;
  overflow: hidden;

}

.mat-column-email{
  flex: 0 0 27%;
}
.mat-column-name{
  flex: 0 0 25%;
}
.mat-column-Firstname{
  flex: 0 0 25%;
}
.mat-column-candidateToDelete{
  flex: 7% 2% 7%;
}
.mat-column-candidateTest{
  flex: 7% 7% 7%;
}
.mat-column-candidateToEdit{
  flex: 7% 7% 7%;
}

.mat-elevation-z8{

}

.mat-row{
  width: 60%;
}

.searchbar::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 32px;
  width: 500px;
  border: solid;
}
.search-bar{
  width: 350px;
  height: 20px;

  background: #F3F5FB;
  color: #6e6e6e;
  border-color: #F3F5FB;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
    padding: 5px;
    padding-left: 30px; /* Make space for the icon inside the input field */

    border: 1px solid #ddd;

    flex-grow: 1; /* Ensures the input field takes up available space */
}
.search-bar:focus {
  outline: 2px solid grey; /* Color of the outline when the input is focused */
  outline-offset: 0px;
}
