*{
  margin-left: 2%;

}

.page {
  display: flex;
 flex-direction: column;
justify-items: auto;
  justify-content: space-around;
}
#fieldQuestion{

width:70%;
}
#answersTable{

 width: 50%;
}


#pagepart2{

display: flex;

}
