
<app-hr-associate-top-banner></app-hr-associate-top-banner>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened><mat-list role="list">
    <mat-list-item role="listitem"><a class="nav-link active" (click)="onCreateCandidate()" >Create new candidate</a></mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list></mat-drawer>
  <mat-drawer-content>




<div >

Dashboard

</div>



