<div class="menu">
  <ul class="nav flex">
    <li>QUIZ APP</li>
    <li>{{"Welcome" |translate}} {{userConnexion?.firstName}}</li>
    <li></li>
    <li> <button mat-raised-button (click)="pageCandidates();">{{"Candidates menu" |translate}}</button></li>
    <li> <button mat-raised-button (click)="pageTest(userConnexion?.personID);">{{"Tests menu" |translate}}</button>
    </li>
    <li> <a mat-raised-button href="hr-associate-questions">{{"Questions menu" |translate}}</a></li>
    <li>
      <a mat-raised-button href="">{{"log out" |translate}}</a>
      <!-- <img id="boutonDeconnexion" src="" alt="Déconnexion" (click)="deconnexion()"> -->
    </li>
    <li>
      <select class="form-control" #selectedLang (change)="switchLanguage(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
          [selected]="language === translate.currentLang"> {{ language }}
        </option>
      </select>
    </li>
  </ul>
</div>
