
.demo-button{
  margin-left: 2%;

 }


a:hover{
  cursor: pointer;
}

#list-questions{

  width: 95%;
}


.mat-mdc-table {

  max-height: 500px;
  overflow: auto;
  margin-left: 2%;

}

.button-width{

  width:1%;
}
.mat-column-name {
  height: auto;

}



.col2 {
  display: flex;

}

#cell-width{

  width: fit-content;
}
.searchbar{

  width: 200%;
}

.demo-button-container{
  display: flex;
  justify-content: space-evenly;
 // align-items: baseline;
 margin-left: -30%;

}
