<app-hr-associate-top-banner></app-hr-associate-top-banner>
<div>
  <form [formGroup]="formControl" (submit)="saveTest()">
    <input matInput [value]="test?.idTest" formControlName="idTest" [readonly]="true" [hidden]="true" matInput />

    <mat-form-field class="example-form" appearance="fill" class="question" id="fieldQuestion">
      <mat-label>Test</mat-label>
      <input type="text" placeholder="Test" formControlName="nameTest" matInput />
    </mat-form-field>


    <button class=" example-form" mat-raised-button color="primary" type="submit">Modify</button>
  </form>
</div>


<div id="answersTable">

  <table mat-table [dataSource]="listQuestions" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="idQuestions">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let question">{{question?.idQuestions}}</td>
    </ng-container>

    <ng-container matColumnDef="questionTitle">
      <th mat-header-cell *matHeaderCellDef>Question title</th>
      <td mat-cell *matCellDef="let question">{{question?.questionTitle}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="scoreByQuestion">
      <th mat-header-cell *matHeaderCellDef>Score</th>
      <td mat-cell *matCellDef="let question">{{question?.scoreByQuestion}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="timer">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let question">{{question?.timer}}</td>
    </ng-container>

    <ng-container matColumnDef="technology.nameTechnology">
      <th mat-header-cell *matHeaderCellDef>Technology</th>
      <td mat-cell *matCellDef="let question">{{question?.technology.nameTechnology}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="addQuestion(question?.idQuestions)" *matRowDef="let question; columns: displayedColumns;"></tr>
  </table>




</div>
